<div class="jumbotron">
  <div class="container">
    <h1 class="display-5">Webjet Movies</h1>
    <p class="lead">Get the best deals on movies!</p>
  </div>
</div>

<div class="container mt-4">
  <div class="movie-container position-relative">
    <button class="scroll-button scroll-left" (click)="scrollLeft()">&#10094;</button>
    <div class="movie-wrapper" id="movieScroll">
      <div class="movie-card" *ngFor="let movie of moviesListVm.movies" (click)="movieDetail(movie.id)">
        <img [src]="movie.poster" [alt]="movie.title" onerror="this.classList.add('error')" >
        <div class="movie-overlay">
          <div class="small">{{movie.title}}</div>
          <div class="text-danger small"><strong>{{movie.price | currency}}</strong></div>
          <div>({{movie.bestPriceProvider }})</div>
        </div>
      </div>
    </div>
    <button class="scroll-button scroll-right" (click)="scrollRight()">&#10095;</button>
  </div>
</div>


<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="logoutToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-body">
      ℹ️ You have been logged out.
    </div>
  </div>
</div>
