<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Webjet Movies</h1>
    <p>
      Find the Cheapest Movies for You!
    </p>
  </div>
</div>

<div class="container mt-4">
  <h2 class="text-white text-center mb-4">Trending Movies</h2>
  <div class="movie-container position-relative">
    <button class="scroll-button scroll-left" (click)="scrollLeft()">&#10094;</button>
    <div class="movie-wrapper" id="movieScroll">
      <div class="movie-card" *ngFor="let movie of moviesListVm.movies">
        <img [src]="movie.poster" [alt]="movie.title">
        <div class="movie-overlay">{{movie.title}}</div>
      </div>
    </div>
    <button class="scroll-button scroll-right" (click)="scrollRight()">&#10095;</button>
  </div>
</div>


<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="logoutToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-body">
      ℹ️ You have been logged out.
    </div>
  </div>
</div>
