<nav class="col-lg-2 col-md-3 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <i-feather name="home"></i-feather>
           Best deals
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.webjet.com.au/about/">
          <i-feather name="file-text"></i-feather>
          About Webjet
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="https://www.webjet.com.au/support/">
          <i-feather name="file-text"></i-feather>
          Contact Us
        </a>
      </li>
    </ul>
  </div>
</nav>
